@charset "UTF-8";

#ssp_wrap{
    box-sizing: border-box;
    padding: 8px;
    margin: 0 20px 20px 0;
}
#ssp_wrap * {
    box-sizing: border-box;
}

#ssp_wrap #ssp_updated{
  margin: 24px 0 24px;
}

/* 通知クローズボタン */
.ssp_notice{
  position: relative;
}
.ssp_notice .notice-dismiss{
  cursor: pointer;
}

.ssp_notice .notice-dismiss:before{
  display: inline-block;
  vertical-align: middle;
}

.ssp_notice .notice-dismiss span{
  vertical-align: middle;
}
.ssp_notice{
  border-left-color: #b3c973;
}


.notice-dismiss:active,
.notice-dismiss:focus,
.notice-dismiss:hover {
    box-shadow: 0 0 4px #ccc;
}
.notice-dismiss:active:before,
.notice-dismiss:focus:before,
.notice-dismiss:hover:before {
    color: #c00;
}

/* devエリア */
.dev_area{
  padding: 8px;
  margin: 16px;
  background: #fff;
  box-shadow: inset 0 0 4px #ccc;
  overflow: auto;
  max-height: 400px;
  position: relative;
}

.dev_area p{
    margin: -8px -8px 0;
    background: #e6e6de;
    font-size: 12px;
    padding: 0 8px;
}
.dev_area pre{
  font-size: 12px;
  margin: 0;
}
.dev_area font{
  color: rgb(201, 128, 110);
}
.dev_area pre small:nth-of-type(1) {
  background: #e6e6de;
  position: absolute;
    top: 0;
    right: 0;
  padding: 4px;
}
.dev_area pre small{
  font-size: 12px;
}
.dev_area pre i{
  font-size: 12px;
  color: #9973b9;
  font-style: normal;
}


/* フォームパーツ */
#ssp_wrap input[type="text"]{
  width: 100%;
  padding: 8px;
}
#ssp_wrap textarea{
  width: 90%;
  height: 12em;
}
#ssp_wrap select{
  min-width: 15em;
}
#ssp_wrap input.sep_radio{
  display: none;
}
#ssp_wrap label.sep_radio{
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 34px;
    vertical-align: middle;
    padding: 0;
    margin: 4px;
    background: #fcfcfc;
    border: solid 1px #ccc;
    box-shadow: inset 0 0 2px #fff;
}
#ssp_wrap .sep_radio:checked + label.sep_radio{

  border: solid 2px rgb(235, 161, 112);
}
#ssp_wrap .sep .ssp_item{
  display: flex;
  flex-wrap: wrap;
}

#ssp_wrap .hide{
  display: none;
}

#ssp_wrap.ssp_metabox > label{
  display: block;
  padding: 0 0 4px;
  font-weight: bold;
  vertical-align: middle;
}

#ssp_wrap.ssp_metabox > label::before{
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  border: solid 1px #c9d6a1;
  box-shadow: inset -1px -1px 8px #fff;
  background: #c9d6a1;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 4px;
  cursor: initial;
  position: relative;
  top: -1px;
}
#ssp_wrap.ssp_metabox .ssp_meta_inner{
  margin: 8px 0 40px;
  padding-left: 24px;
}
#ssp_metabox h2{
  font-size: 16px;
}
#ssp_metabox h2:first-letter{
    font-size: 1.6em;
    color: #b3c973;
    letter-spacing: 1px;
 }

/* ssp form-table */
#ssp_wrap table.form-table th,
#ssp_wrap table.form-table td{
  display: block;
  width: 100%;
  padding-bottom: 0;
}
#ssp_wrap table.form-table td{
  padding-left: 40px;
}
/* #ssp_wrap #post_type .tr_desc{
  display: none;
} */
/*
  ssp_item
*/
#ssp_wrap h2.hndle{
  cursor: unset;
}
#ssp_wrap code {
  padding: 1px 4px 2px;
}

.ssp_help{
  margin-left: 16px;
  border-radius: 50%;
  padding: 0px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  background: rgb(100, 100, 100);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-shadow: inset 0 0 4px rgba(204, 204, 204, 0.6);
  font-size: 12px;
}
#ssp_wrap td .inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ssp_item{
  width: 40%;
}
.textarea .ssp_item{
  width: 100%;
}
.ssp_desc{
  color: #666;
    font-size: 13px;
    font-style: italic;
  width: 56%;
}
.ssp_help_table{
  background: #fff;
  margin: 16px;
}
.ssp_help_table thead{
  background: #e3e4e3;
}
.ssp_help_table td,
.ssp_help_table th{
  padding: 4px 8px;
}

#ssp_wrap #media_preview {
  margin-bottom: 24px;
}
#ssp_wrap #media_preview img{
  width: 400px;
}
#ssp_wrap #media_preview .no_image{
  width: 400px;
  padding: 40px 40px;
  border:dashed 1px #ccc;
}
#ssp_wrap #media_btn {
  margin-right: 24px;
}

/* disable row */

tr[data-disable="1"] + tr,
tr[data-disable="1"] + tr + tr,
tr[data-disable="1"] + tr + tr + tr{
  display: none;
}



@media screen and (max-width: 767px) {
  .ssp_desc{
    width: 100%;
  }
  .ssp_item{
    width: 100%;
  }
}

.ssp_prev{
  padding: 4px;
  width: 100%;
}
.ssp_prev p {
  display: inline-block;
  background: #ececec;
  padding: 8px 12px;
  box-shadow: inset 0 0 4px #ccc;
}
.ssp_prev span{
  color: #fff;
  padding: 4px 8px;
  margin: 0 2px;
  font-size: 13px;
  border-radius: 4px;
  background: rgb(135, 171, 135);
}


/* タブコンテンツ */
.nav-tab{
    cursor: pointer;
}
.nav-tab.act_{
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
}

.tab-contents{
    display: none;
}
.tab-contents.act_{
    display: block;
}



/* The switch - the box around the slider */
.switch_box {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 28px;
  margin: 0 8px;
}

/* Hide default HTML checkbox */
.switch_box input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  right: 40px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* タームメタ */
.form-table .ssp_term_meta_title td{
  padding-left: 0;
}
.ssp_term_meta_title h2{
  border-top: dashed 1px #ccc;
  padding: 16px 0 0;
}