@charset "UTF-8";

$color_main : #87ab87;

@import "./mixin";
@import "./inc/**";

/* ------------------------------
 * 設定ページ
 * ------------------------------ */

#wpcontent {
	padding: 0 20px !important;

	@include sp_admin {
		padding: 0 16px !important;
	}
}

.ssp-page {
	box-sizing: border-box;
	// margin: 0 20px 20px 0;
	margin-top: 1em;
	padding: 8px;
	font-size: 14px;

	* {
		box-sizing: border-box;
	}

	@include sp_admin {
		margin-right: 0 !important;
		padding: 0;
	}

	.form-table,
	.form-table th,
	.form-table td,
	.form-table p,
	input {
		font-size: inherit !important;
	}

	/* 設定保存メッセージ */
	.ssp-page__savedMessage {
		margin: 24px 0 24px;
	}

}

h1.ssp-page__title {
	font-weight: bold;
	line-height: 1.5;
}

// 各セクション
.ssp-page__section {

	& + .ssp-page__section {
		margin-top: 48px;
	}
}

.ssp-page__section__title {
	position: relative;
	padding: 8px 0 8px 16px;

	/* border-left: solid 2px; */
	line-height: 1.5;
	letter-spacing: 0.5px;

	&::before {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -1;
		display: block;
		width: 40px;
		height: 40px;
		// background-color: $color_main;
		background-image: linear-gradient(-45deg, transparent 25%, $color_main 25%, $color_main 50%, transparent 50%, transparent 75%, $color_main 75%, $color_main);
		background-size: 6px 6px;
		border-radius: 50%;
		transform: translateY(-50%);
		opacity: 0.4;
		content: "";
	}
}


.ssp-page__section__body {
	padding: 24px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px -4px rgba(0, 0, 0, 0.1);

	@include sp_admin {
		padding: 16px;
	}
}

.ssp-page__note {
	padding-left: 4px;
	font-style: italic;
}


// 個別設定
textarea[name="home_desc"] {
	// width: 100%;
	max-width: 1000px;
	height: 12em;
}

[name="home_keyword"] {
	max-width: 1000px;
}

.-webmaster {

	input {
		max-width: 800px;
	}

	code b {
		margin: 0 2px;
		padding: 2px 4px;
		color: #fff;
		font-weight: normal;
		font-size: 0.9em;
		background: $color_main;
		border-radius: 4px;
	}
}


.ssp-field__body {
	display: flex;

	@include sp_admin {
		flex-direction: column;

		.ssp-field__item {
			order: 0;
		}

		.ssp-field__desc {
			order: 2;
		}

		.ssp-field__preview {
			order: 1;
		}

	}
	// field 横並びに
	@include pc_admin {
		flex-wrap: wrap;
		justify-content: space-between;

		.ssp-field__item {
			width: 40%;
		}

		.ssp-field__desc {
			width: 57%;
		}

		&.-wide {

			.ssp-field__item,
			.ssp-field__desc {
				width: 100%;
			}
		}

		&.-mt-shorten {
			margin-top: -24px;
		}
	}
}
